/* Style for the Privacy and Security container */
.your-page9 {
  background-color: rgba(202, 202, 202, 0.894); /* Set the background color to red */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Allows for scrolling if content exceeds viewport */
}
.privacy-security-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  text-align: justify;
  background-color: rgb(255, 255, 255) ;
  animation: fadeInUp 1s ease;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Style for headings in Privacy and Security */
.privacy-security-container h1 {
  font-size: 42px;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}

/* Style for paragraphs in Privacy and Security */
.privacy-security-container p {
  font-size: 18px;
  line-height: 1.6;

  color: #555;
}

/* Style for the list of measures */
.privacy-security-container ul {
  list-style-type: disc;
  margin-left: 30px;
  color: #666;
}

/* Style for links */
.privacy-security-container a {
  color: #007bff;
  text-decoration: none;
  border-bottom: 1px dashed #007bff;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.privacy-security-container a:hover {
  color: #0056b3;
  border-bottom: 1px dashed #0056b3;
}


.privacy-security-content span {
  cursor: pointer; /* Change cursor to pointer for clickable links */
  color: blue; /* Adjust link color */
}



/* Privacy Policy links */
.scroll-target a {
  color: #007bff;
  text-decoration: none;
  border-bottom: 1px dashed #007bff;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.scroll-target a:hover {
  color: #0056b3;
  border-bottom: 1px dashed #0056b3;
}
.privacy-policy-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  text-align: justify;
  background-color: rgb(255, 255, 255) ;
  animation: fadeInUp 1s ease;
}
.privacy-policy-content {
  display: none; /* Hide content by default */
  margin-bottom: 10px;
}
.privacy-policy-content.active {
  display: block; /* Display content when active */
}
.privacy-policy-content span {
  cursor: pointer; /* Change cursor to pointer for clickable links */
  color: blue; /* Adjust link color */
}
.privacy-policy-content h1{
  font-size: 42px;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}
.privacy-policy-content p{
  font-size: 18px;
  line-height: 1.6;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #555;
}
.privacy-policy-content ul {
  list-style-type: disc;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #666;
}